.root {
    -fx-background-color: #222831;
}

.label {
    -fx-font-size: 20;
    -fx-font-family: Calibri;
    -fx-text-fill: black;
    -fx-alignment-baseline: middle;
}

.TextField {
    -fx-alignment: center;
}

.buttons {
    -fx-background-color: #222831;
}

.buttons:hover {
    -fx-background-color: #222831;
}

.jfx-button-custom {
    -fx-background-color: #222831;
}

.jfx-button-custom:hover {
    -fx-cursor: hand; /* Show hand cursor on hover */
}

.jfx-menu-button-style {
    -fx-background-color: #222831;
    -fx-border-color: #222831; /* Set border color */
    -fx-border-width: 2px;
    -fx-border-radius: 5px; /* Optional rounded corners */
    -fx-background-radius: 5px;
}

/* Hover effect for JFXButton */
.jfx-menu-button-style:hover {
    -fx-background-color: #222831; /* Change color on hover */
    -fx-border-color: #222831; /* Change border color on hover */
    -fx-cursor: hand; /* Show hand cursor on hover */
}
#titleLabel {
    -fx-text-fill: #76ABAE;
    -fx-font-size: 50;
    -fx-font-family: Calibri;
    -fx-background-color: #222831;
}

#Title_page {
    -fx-font-size: 30;
    -fx-font-family: Montserrat;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: #76ABAE;
    -fx-background-color: #222831;

}